.Rproj.user
.Rhistory
.RData
.Ruserdata
Prueba.R
Documento/Doc.fls
Documento/Doc.out
Documento/Doc.run.xml
BajarTabla.R
Documento/Doc.bbl
Documento/Doc.aux
Documento/Doc.bcf
Documento/Doc.bcf
Documento/Doc.blg
Documento/Doc.fdb_latexmk
Documento/Doc.bcf
Documento/Doc.R
Documento/Doc.run.xml
Documento/Doc.synctex.gz
Documento/Doc.log
Documento/Doc.html
Documento/Doc.synctex.gz
Documento/Doc.run.xml
Documento/figure/
Documento/Doc.pdf
Documento/Doc.tex
